<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <link href="{{ url_for('static', filename='gentelella/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='gentelella/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='gentelella/less/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='gentelella/fonts/css/font-awesome.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='gentelella/js/jquery.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='gentelella/js/bootstrap.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='gentelella/js/custom.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='gentelella/js/nicescroll/jquery.nicescroll.min.js') }}" charset="UTF-8"></script>
</head>